// Polkit-Regel für MOTU M4 JACK Settings
// Erlaubt Mitgliedern der "audio" Gruppe, das JACK-Setting-Skript ohne Passwort auszuführen
//
// Installation:
//   sudo cp 50-motu-m4-jack-settings.rules /etc/polkit-1/rules.d/
//   sudo chmod 644 /etc/polkit-1/rules.d/50-motu-m4-jack-settings.rules
//
// Voraussetzung: Benutzer muss in der "audio" Gruppe sein
//   sudo usermod -aG audio $USER
//   (Neuanmeldung erforderlich)

polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/local/bin/motu-m4-jack-setting-system.sh" &&
        subject.isInGroup("audio")) {
        return polkit.Result.YES;
    }
});
